# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python-specific files and directories
# Byte-code files
*.pyc
__pycache__/

# Distribution / packaging
.Python
env/
venv/
dvenv/
wsl_venv/
pip-log.txt
pip-delete-this-directory/

# C extensions
*.so

# Unit test / coverage
.coverage
.tox/
