@import "tailwindcss";

@theme {
  --animate-wiggle: wiggle 0.5s ease-in-out infinite;

  @keyframes wiggle {

    0%,
    100% {
      transform: rotate(-9deg);
    }

    50% {
      transform: rotate(9deg);
    }
  }
}

:root {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.map-container {
  width: 100vw;
  height: 100vh;
}
